.offscreen{
    position: absolute;
    left: -10000px;
}
.Skip-link{
    position: absolute;
    top:-999px;
    left:0;
    background:$text-shadow-color;
    padding:14px;
    z-index: 1;
    color:$font-color ;
}
.Skip-link:focus,
.Skip-link:active{
    top: auto;
    left: auto;
}